name: Build and Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: "latest"

      - name: Configure kubeconfig
        run: echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy manifest
        run: kubectl apply -f k8s/manifest.yaml

